<style>
	#searched-results{
		text-align: left;
		font-size: 1.25em;
	}
	div#main{
		margin: 0 auto;
		width: 80%; 
	}
	input[type='submit']{
		margin-bottom: 20px; 
	}
	#nav ul{
		list-style-type: none;
	}
	#nav ul li a{
		text-decoration: none; 
	}
	#nav ul li{
	    margin-top: 15px; 
	}
	img.book-cover{
		width:20%; 
		height: 10%; 
		display: inline-block;
		margin-top: 30px; 
		margin-bottom: 96px;
		float: left
	}
	.book-info{
	     width: 70%; 
	     display:inline-block;
	     height: 250px;
	     overflow: hidden; 
	     text-align:left;
	}
	.book-div{
		width: 80%;
		margin-top: 30px; 
		height: 300px;
		margin: 0 auto; 
	}
	.book-div h3,.book-div h4{
		text-align: left; 
	}
	.user-action-buttons{
		list-style: none; 
	}
	.user-action-buttons a{
		margin-left: 10px; 
	}
	.detail-label{
		font-weight: bold;
	}
	.book-info li{
		list-style: none;
	}
	.book-info li:nth-child(n+1){
		margin-top: 10px; 
	}
	a.fas{
	   color: #000;
	   text-decoration: none;
	}
	li.user-action{
		display:inline-block;
		font-size: 25px; 
	}
	li.user-action:nth-child(2n+2){
		margin-left: 20px;
	}

	input[type="text"]{
		width: 40%;
		height: 25px
	}

	@media screen and (min-width: 200px) and (max-width: 540px) { 
		img.book-cover{
			display:block;
			float:none;
			width: 45%;
			margin: 0 auto; 
		}
		.book-info{
			display:block;
			float: none;
			height: unset;
			margin: 0 auto;
			margin-top: 20px; 
		}
		.book-info h3, .book-info h4, #searched-results{
			text-align: center;
		}
	}

	@media screen and (min-width: 541px) and (max-width: 950px){
		.book-info{
			height: unset;
		}
	}
	#page-buttons{
	   display:block;
	   width: 905; 
	}
	#page-buttons #next{
	   float:right; 
	}
	#page-buttons #previous{
	   float: left;
	}

</style>
<div id="main">
	<h1> Simplicity Book Reader</h1>
	
	<div id="nav">
		<ul>
			<% if( logged_in ){ %>
				<li><a href="/signout">Sign Out</a></li>
				<li><a href="/user_action/0?bookshelf=Your Favorite Books">Favorites</a></li>
				<li><a href="/user_action/7?bookshelf=Your E-Books">Ebooks</a></li>
				<li><a href="/user_action/3?bookshelf=Here's What You're Reading Now">Reading Now</a></li>
				<li><a href="/user_action/2?bookshelf=You're Reading List">To Read List</a></li>
				<li><a href="/user_action/4?bookshelf=Books You've Read">Have Read</a></li>
				<li><a href="/user_action/6?booksehlf=Recently Viewed Books">Recently Viewed</a></li>
				<li><a href="/user_action/1?Purchased Books">Purchased</a></li>
				<li><a href="/user_action/5?Books You've Reviewed">Books Reviewed</a></li>
			<% }else{ %>
				<li><a href="/signin">Sign In</a></li>
			<% } %>
		</ul>
	</div> <!-- End Nav -->
	<div style="text-align:center">
		
		<img src="https://www.adazing.com/wp-content/uploads/2019/02/open-book-clipart-03.png" width="200px" height="150px">
	    <h2>Book Search Form</h2>
	    <div>
	    <form action="/query_book", method="GET">
	       <input type="text" name="book_title" size="50" placeholder="Title" >
	       <br/><br/>
	       <input type="text" name="book_author" size="30" placeholder="Author">
	       <br/><br/>
	       <input type='submit' value="Find Books">
	      </form>
        </div> <!-- End Form --> 

	   <hr/ >

	   <% if( searched_books.length <= 0){ %>
		<h2>No Books Found</h2>         
	   <% }else{ %>
	      <h2><%= search_title %></h2> 
	      <h4><%= `${total_results} Result(s) Found` %></h4>
	      <br/>
	      
	      <!-- Next / Prev Buttons -->
	      <div id="page-buttons">
	      <% if( show_prev_page ){ %>
	      	<a id="previous" href="/prev_search_page" onClick="this.disabled=true;">Previous</a>
	      <% } %>
	      <% if( show_next_page ){ %>
	      	<a id="next" href="/next_search_page" >Next</a>
	      <% } %>
	      <div style="clear:both"></div>
	      </div>
		
	      <!-- Search Results --> 
	      <div id="searched-results">
	      	  <% searched_books.forEach( (book) => { %> 
			<h3><%= book.title %></h3>

			<% if( book.subtitle.length > 0){ %>
				<h4><%= book.subtitle%></h4>
			<%} %><!-- End subtitle.length if statment -->
			
			<img class='book-cover' src=<%= book.image %> />
			<ul class="book-info">
				<li><span class="detail-label">Written By: </span><%= book.authors %></li>
				<li><span class="detail-label">Year Published: </span><%= book.publisherDate %></li>
				<li><span class="detail-label">Publisher: </span><%= book.publisher %></li>
				<li><%= book.description %></li>
				<!-- User actions -->
				<li class="user-action"><a href="/add_to_favorites" class="fas fa-heart" title="Add to Favorites"></a></li> 
				<li class="user-action"><a href="/add_to_reading_list" class="fas fa-bookmark" title='Add to Reading List'></a></li>
			</ul><!-- end book info -->
			<div style="clear:both"></div>
		  <% }) %><!-- end items.forEach -->
	      </div>
	   <% } %><!-- end serached_books.length > 0 if statement -->
</div><!-- end main div-->
