<style>
	#searched-results{
		text-align: left; 
	}
	#book-cover{
		width:200px; 
		height: 250px; 
		display: block;
		margin-bottom: 30px;
		margin-top: 30px; 
		margin: 0 auto;
	}
	div#main{
		margin: 0 auto;
		width: 80%; 
	}
	input[type='submit']{
		margin-bottom: 20px; 
	}
	#nav ul{
		list-style-type: none;
	}
	#nav ul li a{
		text-decoration: none; 
	}
	#nav ul li{
	    margin-top: 15px; 
	}
</style>
<div id="nav">
	<ul>
		<% if( logged_in ){ %>
			<li><a href="/signout">Sign Out</a></li>
			<li><a href="/favorites">Favorites</a></li>
			<li><a href="/ebooks">Ebooks</a></li>
			<li><a href="/reading_now">Reading Now</a></li>
			<li><a href="/reading_list">To Read List</a></li>
			<li><a href="/have_read">Have Read</a></li>
			<li><a href="/recently_viewed">Recently Viewed</a></li>
			<li><a href="/purchased">Purchased</a></li>
		<% }else{ %>
			<li><a href="/signin">Sign In</a></li>
		<% } %>
	</ul>
</div>
<div id="main">
	<h1> Simplicity Book Reader</h1>

	<div style="text-align:center">
		
		<img src="https://www.adazing.com/wp-content/uploads/2019/02/open-book-clipart-03.png" width="200px" height="150px">
	    <h2>Book Search Form</h2>
	    <div>
	    <form action="/query_book", method="GET">
	       <input name="book_title" size="50" placeholder="Title" >
	       <br/><br/>
	       <input name="book_author" size="30" placeholder="Author">
	       <br/><br/>
	       <input type='submit' value="Find Books">
	      </form>
		</div>

	   <hr/ >

	   <% if( searched_books.length <= 0){ %>
		<h2>No Books Found</h2>         
	   <% }else{ %>
	      <h2><%= search_title %></h2> 
	      <br/>
	      <ul id="searched-results">
		<% for(let i = 0; i < searched_books.length; i++){ %>
			<h3 style="text-align:center"><%= `${i + 1}. ${searched_books[i].volumeInfo.title}` %></h3>
			<% if( searched_books[i].volumeInfo.hasOwnProperty("imageLinks")){ %>
		    <img id='book-cover' src="<%= searched_books[i].volumeInfo.imageLinks.thumbnail %>" width="100px" height="150px" alt="Cover of <%= searched_books[i].volumeInfo.title %>" title="<%= searched_books[i].volumeInfo.title %>">
			<% } %>
		    <ul>
		    <li>Written By:</li>
		    <ul>
			<% if(searched_books[i].volumeInfo.authors){ %>
				<% for(let a = 0; a < searched_books[i].volumeInfo.authors.length; a++){ %> 
				  <li><%= searched_books[i].volumeInfo.authors[a] %> </li>
				<% } %>
			<% }else{ %>
				<li>No Authors Found</li>
			<% } %>	
				</ul>
				<li><%= (searched_books[i].volumeInfo.publisher) ? `Published by: ${searched_books[i].volumeInfo.publisher}`
					 : "Publishing Data Not Found" %></li>
				<li><a target="_blank" href="<%= searched_books[i].volumeInfo.infoLink%>">More Information</a></li>
				<li><%= searched_books[i].volumeInfo.description || "No Description Found" %></li>
			</ul>
		    </li>
		    <br/>
		<% } %>

	      </ul>
	   <% } %>
	</div>
</div>
